name: GitHub Actions
run-name: ${{ github.actor }} ${{ github.event_name }} on ${{ inputs.deploy_target }}

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: List files
        run: ls -la
